<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:form action="create" extensionName="AkForum" id="post-form" name="newPost" object="{newPost}">
        <f:form.hidden name="thema" value="{thema}" />
        <f:form.hidden name="hmac" value="{thema.hmac}" />
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="title">
                                    <f:translate key="tx_akforum_domain_model_post.title" /> <span class="required">(required)</span>
                                </label>
                            </div>
                            <div class="col-sm-12">
                                <f:form.textfield property="title" />
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="body">
                                    <f:translate key="tx_akforum_domain_model_post.body" /> <span class="required">(required)</span>
                                </label>
                            </div>
                            <div class="col-sm-12">
                                <f:form.textarea placeholder="Please enter text" class="ckeditor_textarea" id="newPost" property="body"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <f:form.submit value="Create new" class="btn btn-success"/>
    </f:form>
</html>