<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="title">
	<f:translate key="tx_akforum_domain_model_post.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="slug">
	<f:translate key="tx_akforum_domain_model_post.slug" />
</label><br />
	<f:form.textfield property="slug" /><br />
<label for="body">
	<f:translate key="tx_akforum_domain_model_post.body" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="body" cols="40" rows="15" /><br />
<label for="views">
	<f:translate key="tx_akforum_domain_model_post.views" />
</label><br />
	<f:form.textfield property="views" /><br />
</html>